@import './fonts';
@import 'libs/normalize';
@import 'components/all';

html,
body {
  font-size: 16px;
  background-color: #f7f8fb;
}

.container {
  padding: 24px;
}

@media (max-width: 767px) {
  .container {
    padding: 16px;
  }
}
