@import './fonts';
@import 'libs/normalize';

html,
body {
  font-size: 16px;
  background-color: #f7f8fb;
}

.container {
  padding: 24px;
}

@media (max-width: 767px) {
  .container {
    padding: 16px;
  }
}

.svg-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.icon-button {
  flex: 0 0 auto;
  padding: 12px;
  overflow: visible;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &--primary {
    color: rgba(46, 134, 171, 0.92);

    &:hover {
      background-color: rgba(46, 134, 171, 0.04);
    }
  }

  &--secondary {
    color: rgba(16, 20, 25, 0.6);

    &:hover {
      background-color: rgba(16, 20, 25, 0.04);
    }
  }
}

.button-base {
  border: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.todo {
  width: 360px;
  margin-bottom: 24px;

  &__title {
    font-size: 18px;
    font-weight: 400;
    padding: 12px 16px;
    color: rgba(16, 20, 25, 0.8);
  }

  &__content {
    border-radius: 4px;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__add-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    width: 100%;

    &-input {
      width: 100%;
      border: none;
      line-height: 24px;
      font-size: 16px;
      padding-left: 16px;
      color: rgba(16, 20, 25, 0.8);

      &::-webkit-input-placeholder {
        color: rgba(16, 20, 25, 0.4);
      }

      &:-ms-input-placeholder {
        color: rgba(16, 20, 25, 0.4);
      }

      &::placeholder {
        color: rgba(16, 20, 25, 0.4);
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__list {
    &-item {
      $self: &;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);

      &-text {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(16, 20, 25, 0.92);
      }

      .svg-icon-completed {
        display: none;
      }

      &--completed {
        background-color: rgba(0, 0, 0, 0.04);

        #{$self}-text {
          color: rgba(16, 20, 25, 0.4);
          text-decoration: line-through;
        }

        .svg-icon-completed {
          display: block;
        }

        .svg-icon-incompleted {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .todo {
    width: 100%;
  }
}
